@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #010135;
    color: white
}

.nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-left: 20px;
    width: 100px;
    border-radius: 15px;
    padding: 9px;
    text-decoration: none;
}

.nav button:hover {
    background: rgba(255, 255, 255, 0.815);
}

.nav input {
    height: 20px;
    width: 250px;
    border-radius: 25px;
    margin-right: 10px;
    padding: 9px;
}