.movie-list{
    margin: 25px auto;
    border-bottom: 1px solid black;
    border-left: 25px solid #4DCCBD;
}

.movie-list {
    transition: ease-in-out 150ms;
}

.movie-list:hover {
    background: #4DCCBD;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie-list-container {
    width: 90vw;
    margin: 0 auto
}